{%extends "base.html"%}
{%block content%}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">
        <a href="{{url_for('index')}}" class="logo me-auto"><img src="{{url_for('static', filename='img/logo-tikfest.png')}}"
                alt="" class="img-fluid" /></a>

        <nav id="navbar" class="navbar">
            <ul>
                <li>
                    <a class="nav-link scrollto active" href="#IT">Lomba IT nasional</a>
                </li>
                <li>
                    <a class="nav-link scrollto active" href="#olahraga">Kompetisi Olahraga TIK</a>
                </li>
                <li>
                    <a class="getstarted scrollto" href="index.html" target="_parent">HOME</a>
                </li>
            </ul>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
    </div>
</header>
<!-- End Header -->

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Pendaftaran Kompetisi</li>
            </ol>
            <h2>Pendaftaran Kompetisi TIKFEST 2023</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <p>
                Terdapat 2 kategori lomba, yaitu kategori Lomba IT nasional dan Kompetisi Olahraga. Lomba IT nasional
                dapat diikuti oleh Mahasiswa seluruh Perguruan tinggi atau siswa SMA/SMK dari seluruh wilayah Indonesia.
                <br /><br /> Adapun kompetisi
                olahraga, hanya diikuti oleh Mahasiswa Internal Politeknik Negeri Jakarta Departemen Teknik Informatika
                & Komputer. Persyaratan lebih detail, terdapat pada form pendaftaran. informasi lebih lanjut dapat
                menghubungi social media kami.
            </p>
        </div>

        <div class="card" id="IT">

            <section id="services" class="services section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="section-title" style="text-align: center;">
                        <h2>Kategori Perlombaan Informatika Skala Nasional </h2>
                        <p style="text-align: center;">
                            syarat dan ketentuan umum :
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in"
                            data-aos-delay="100">
                            <div class="icon-box">
                                <div class="icon"><img src="assets/img/overclocking.jpeg" alt=""></i>
                                </div>

                                <h4 class="judul"><a href="#"
                                        data-form-link="https://docs.google.com/forms/d/e/1FAIpQLSe_o4YxUW2QkUxsVV34tKE4Alxpw3Cq0K1EINVXyuN5uQyIpA/viewform?usp=sf_link">Web
                                        Apps Development Competition <h6> (Daftar, klik sini)</h6></a></h4>



                                <h5>Persyaratan :</h5>
                                <p>
                                <ul>
                                    <li>Merupakan Mahasiswa/Siswa Aktif dari Institusi Asal, Dan dapat dibuktikan dengan
                                        surat keterangan ketika lomba </li>
                                    <li>Berkomitmen terhadap jalannya lomba </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                            data-aos-delay="200">
                            <div class="icon-box">
                                <div class="icon"><img src="assets/img/webdev.jpeg" alt=""></div>
                                <h4 class="judul"><a href="#"
                                        data-form-link="https://docs.google.com/forms/d/e/1FAIpQLSedYmhojo_S5QPEJ1M7LyogzGGWjGs7OeIAq0Z71lfMW6HKpw/viewform?usp=sf_link">Lomba
                                        Karya Ilmiah : Cipta Inovasi Bisnis TIK<h6> (Daftar, klik sini)</h6></a></h4>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                            data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-tachometer"></i></div>
                                <h4><a href="">Lomba IT nasional</a></h4>
                                <p>
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                </p>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                            data-aos-delay="400">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-layer"></i></div>
                                <h4> <small><a href=""> Kompetisi Olahraga Mahasiswa</a></small>
                                </h4>
                                <p>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                </p>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                            data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-tachometer"></i></div>
                                <h4><a href="">Closing Ceremony</a></h4>
                                <p>
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </section>
        </div>
        <!-- BAGIAN CARD OLAHRAGA -->
        <div class="card" id="olahraga">

            <section id="services" class="services section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="section-title" style="text-align: center;">
                        <h2>Kategori Kompetisi Olahraga TIK </h2>
                        <p style="text-align: center;">
                            syarat dan ketentuan umum :
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in"
                            data-aos-delay="100">
                            <div class="icon-box">
                                <div class="icon"><img src="assets/img/olahraga.jpg" alt=""></i>
                                </div>
                                <h4 class="judul"><a href="#"
                                        data-form-link="https://docs.google.com/forms/d/e/1FAIpQLSedYmhojo_S5QPEJ1M7LyogzGGWjGs7OeIAq0Z71lfMW6HKpw/viewform?usp=sf_link">Lomba
                                        Futsal</a></h4>




                                <h5>Persyaratan :</h5>
                                <p>
                                <ul>
                                    <li>Merupakan Mahasiswa/Siswa Aktif dari Institusi Asal, Dan dapat dibuktikan dengan
                                        surat keterangan ketika lomba </li>
                                    <li>Berkomitmen terhadap jalannya lomba </li>
                                </ul>
                                </p>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                            data-aos-delay="200">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-file"></i></div>
                                <h4><a href="">Pesta Pembukaan</a></h4>
                                <p>
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                </p>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                            data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-tachometer"></i></div>
                                <h4><a href="">Lomba IT nasional</a></h4>
                                <p>
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                </p>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                            data-aos-delay="400">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-layer"></i></div>
                                <h4> <small><a href=""> Kompetisi Olahraga Mahasiswa</a></small>
                                </h4>
                                <p>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                </p>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                            data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-tachometer"></i></div>
                                <h4><a href="">Closing Ceremony</a></h4>
                                <p>
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </section>
            <div class="popup-overlay">
                <div class="popup-content">
                    <iframe src="" id="gform-iframe"></iframe>
                    <span class="close-popup">&times;</span>
                </div>
    </section>
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>TIKFEST 2023</h3>
                    <p>
                        Gedung Departemen TIK <br /> Kampus Politeknik Negeri Jakarta<br /> Universitas Indonesia, Depok
                        <br /><br />
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Events</h4>
                    <ul>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="#">Lomba IT nasional</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="#">Kompetisi olahraga mahasiswa TIK</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="#">Bazar Makanan</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Kompetisi</h4>
                    <ul>
                        <li>
                            <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="#">Hackton</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="#">Futsal</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i> <a href="#">BasketBall</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="#">LKTI TIK</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <p>Untuk Informasi lebih Update kunjungi Social Media kami</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Developed by
            <strong><span>Tim IT TIKFEST 2023 </span></strong>. All Rights Reserved
        </div>
    </div>
</footer>
<!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
{%endblock%}